node_modules
dist
dist-portable
dist-electron
release
out
.vite
*.log
.DS_Store
coverage
.cache
*.local
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
electron/user-data
